<!-- CHARTS -->
<!-- <app-line-chart></app-line-chart>-->
<div class="accueil">
  <mat-grid-list class="top" cols="3" rowHeight="3:1">

    <mat-grid-tile>

    </mat-grid-tile>

    <mat-grid-tile>

      <form>
        <h1 style="font-family: lato;">Bienvenue sur Yucca</h1>
        <mat-form-field class="full-width">
          <input matInput placeholder="Recherche rapide">
        </mat-form-field>
      </form>
    </mat-grid-tile>

    <mat-grid-tile>

    </mat-grid-tile>

  </mat-grid-list>

  <mat-divider>
  </mat-divider>

  <mat-grid-list class="graphes" cols="2" rowHeight="2:1">
    <mat-grid-tile><app-bar-chart></app-bar-chart></mat-grid-tile>
    <mat-grid-tile><app-pie-chart></app-pie-chart></mat-grid-tile>
  </mat-grid-list>
</div>
