<div class="programmes-container">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
  </mat-form-field>

  <button *ngIf="displayAjouter" mat-raised-button color="primary" class="button bouton-ajouter" (click)="ajouterProgramme()">
    <mat-icon matPrefix>add</mat-icon>
    Ajouter un Programme
  </button>

  <button mat-raised-button color="primary" class="button bouton-ajouter" (click)="rechercherProgramme()">
    <mat-icon matPrefix>zoom_in</mat-icon>
    Recherche détaillée
  </button>

  <table mat-table (matSortChange)="sortData($event)" [dataSource]="programmesDataSource" class="mat-elevation-z8" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="idSort"> N° </th>
      <td mat-cell *matCellDef="let programme">
        {{programme.id}}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="nomSort" multiTemplateDataRows> Nom </th>
      <td mat-cell *matCellDef="let programme">
        {{programme.nom}}
      </td>
    </ng-container>

    <!-- Domaine Column -->
    <ng-container matColumnDef="idDomaine">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="domaineSort"> Domaine </th>
      <td mat-cell *matCellDef="let programme">
        {{programme.domaine.libelleLong}}
      </td>
    </ng-container>

    <!-- Repertoire Column -->
    <ng-container matColumnDef="idRepertoire">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="repertoireSort"> Repertoire </th>
      <td mat-cell *matCellDef="let programme">
        {{programme.repertoire.chemin}}
      </td>
    </ng-container>

    <!-- SousDomaine Column -->
    <ng-container matColumnDef="idSousDomaine">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="sousDomaineSort"> Sous Domaine </th>
      <td mat-cell *matCellDef="let programme">
        {{programme.sousDomaine.libelleLong}}
      </td>
    </ng-container>

    <!-- Faire attention aux colonnes affichées : si la colonne nest pas dans la liste elle n'apparait pas ! -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelect(row)"></tr>
  </table>
  <app-spinner
    [spinner]="spinner">
  </app-spinner>
  <mat-paginator
          [pageSizeOptions]=pageSizeOptions
  >
  </mat-paginator>
</div>
